{% extends "base.html" %} {%block title %}Login{%endblock%} {%block content %}
<form method="post">
    <h3 align="center">Login page</h3>
    <!-- using a bootstrap class -->
    <div class="form-group">
        <label for="email">Email Adress</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="forgot" class="btn btn-primary">Forgot Password</button>
</form>


{% endblock %}